* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Inter", sans-serif;
}

.container {
    height: 1800px;
    width: 100%;
    background-color: #ECECEC;
}

.header {
    height: 8%;
    width: 100%;
}

.banner {
    height: 25%;
    width: 100%;
}

.main-header {
    height: 55%;
    width: 100%;
    background-color: #E30019;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-box {
    height: 58%;
    width: 80%;
    display: grid;
    grid-template-columns: 15% 10% 40% 35%;
    grid-gap: 20px;
}

.sub-header {
    height: 22%;
    width: 100%;
}

.main {
    height: 82%;
    width: 100%;
    display: flex;
    padding: 20px 50px;
}

.side-menu {
    height: 100%;
    width: 15%;
    display: flex;
    align-items: flex-start;
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    background-color: crimson;
}

.advertisement {
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: repeat(4, 1fr);
    height: 40%;
    width: 100%;
    background-color: darkgray;
    border: solid black;
}

.main-ad {
    grid-column: 1 / -1;
    border: solid black;
}

.sub-ad {
    border: solid black;
}

.section {
    flex: 1;
    width: 100%;
    background-color: darkcyan;
    border: black solid;
}

.footer {
    height: 10%;
    width: 100%;
    background-color: violet;
}
