* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Inter", sans-serif;
    background-color: #ECECEC;
}


.footer {
    height: 200px;
    width: 100%;
    background-color: violet;
}
